{{ if eq .chezmoi.os "linux" -}}
#!/bin/sh
sudo apt install ripgrep
{{ else if eq .chezmoi.os "darwin" -}}
#!/bin/sh
brew install ripgrep
brew install vagrant
brew install python
python3 -m pip install --user powerline-status
brew install fzf
brew install bat
brew install lazygit
brew install pre-commit
brew install go
brew install npm
npm install -g marked
brew install graphviz
brew install shellcheck
brew install pngpaste
brew install pyenv
{{ end -}}
